<h1><center>Coney Island Leaderboard</center></h1>
</br>
<div class = "container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Hole 1</th>
          <th>Hole 2</th>
          <th>Hole 3</th>
          <th>Total Score</th>
        </tr>
      </thead>

      <tbody class = "table-striped">
        <% @scores.each do |score| %>
          <tr>
            <td><%= score.name %></td>
            <td><%= score.hole1 %></td>
            <td><%= score.hole2 %></td>
            <td><%= score.hole3 %></td>
            <td><%= score.total_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Score', new_score_path %>

<%= javascript_tag do %>
$(document).ready(function() {
        // Refreshes the page every 5 seconds
        setTimeout(function(){window.location.reload(1);}, 5000);
    });
<% end %>
