
<div class = "container">
  <div class="table-responsive">
    <table class="table">
      
      <div id="refill-me">
        <tbody class = "table-striped">
          <% @scores[0,10].each do |score| %>
            <tr class="<%= cycle("even", "odd") %>">
              <td width="32%"><%= score.name %></td>
              <td width="23%"><%= score.hole1 %></td>
              <td width="15%"><%= score.hole2 %></td>
              <td width="15%"><%= score.hole3 %></td>
              <td width="15%"><%= score.total_score %></td>
            </tr>
          <% end %>
        </tbody>
      </div><!-- end refill me -->
    </table>
  </div>
</div>

<br>

<%= link_to 'New Score', new_score_path %>

<%= javascript_tag do %>
$(document).ready(function() {
        // Refreshes the page every 5 seconds
        //setTimeout(function(){window.location.reload(1);}, 5000);
        
  $(function() {
    startRefresh();
  });

  function startRefresh() {
      setTimeout(startRefresh,5000);
      $.get('/', function(data) {


          var newtable = $(data).find('.table-striped');
          $('.table-striped').replaceWith(newtable);    
          console.log(newtable.html());
      });
  }      

});
<% end %>
